* text=auto eol=lf
*.py text eol=lf
*.md text eol=lf
*.mdc text eol=lf
*.json text eol=lf
*.template text eol=lf
*.sh text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.gitignore text eol=lf
.cursorignore text eol=lf
.cursorindexingignore text eol=lf
